{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/justified-nav.css" %}">
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    </head>
    <body>

        <div class="container">
      <div class="masthead">
        <h3 class="text-muted">Meta-data</h3>
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/pick-team">Change Team</a></li>
          <li><a href="/metas">Metas</a></li>
          <li><a href="https://codex.meteor.com/">Codex Chat</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
{% block body %}
{% endblock %}
        </div>
    </body>
</html>
