{% extends "metadata/base.html" %}

{% block title %}MetaData{% endblock %}


{% block body %}
    <div class="jumbotron">
      <div class="container">
        <h1>Meta-Data</h1>
        <p>Hello, Codexians! Welcome to the Meta-practice. Let Paul know
           if things go south, he can try to fix them directly.</p>
<p><a class="btn btn-primary btn-lg" role="button">Submit your Meta &raquo;</a>
<a class="btn btn-primary btn-lg" role="button">Practice Hunt &raquo;</a></p>
      </div>
    </div>

{% endblock %}
