{% extends "metadata/base.html" %}

{% block title %}MetaData{% endblock %}


{% block body %}
    <div class="jumbotron">
      <div class="container">
        <h1>{{meta.title}}</h1>
        <ul>
        {% for document in meta.documents.all %}
            <li>{{document.title}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
        <div class="row">
{% for puzzle in meta.puzzles.all %}
            <div class="col-6 col-sm-6 col-lg-4">
                <h2>{{puzzle.title}}</h2>
{% if puzzle.solved %}
                <p>The answer is <code>{{puzzle.answer}}</code></p>
{% endif %}
                <p>
                    <ul>
                    {% for document in puzzle.documents.all %}
                        <li>{{document.title}}</li>
                    {% endfor %}
                    </ul>
                </p>
            </div>
{% endfor %}
        </div>
    </div>

{% endblock %}
